.app{
  min-height: 100vh;
  background: #000;
}

a{
  color: #fff;
  text-decoration: none;
}

.header{
  position: fixed;
  height: 92px;
  padding: 10px 100px;
  width: 100vw;
  display: flex;
  justify-content: space-between;
  align-items: stretch;
}

.navlink{
  margin-left: 20px;
}

.navlink:hover{
  border-bottom: 2px solid currentColor
}

.navbar-home{
  display: flex;
  justify-content: space-around;
  width: 20vw;
  align-items: center;
}


/********************************
BUTTON
********************************/
.LogInBtn{
  background: #E52712;
  color: #fff;
  padding: 0.4rem 1.3rem;
  margin: 10px 0;
  font-size: 1rem;
  border: none;
  cursor: pointer;
  transition:opacity .2s ease-in-out;
  outline: none;
  box-shadow: 0 1px 0 #222222;
  border-radius: 2px;
}

.LogInBtn:hover {
	opacity: 0.9;
}

.LogInBtn-rounded {
	border-radius: 5px;
}

button{
  margin: 0.5em 0.5em;
  padding: 0.4rem 1.3rem;
}

main{
  color: white;
}